body {
    font-family: Arial, sans-serif;
    background-color: #f8f9fa;
    margin: 0;
}

header {
    font-family: 'Pacifico', cursive;
    color: darkcyan;
    text-align: center;
    padding: 10px;
    font-size: 24px; /* Adjust the font size as needed */
}


.container {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

form {
    display: grid;
    gap: 10px;
}

button {
    padding: 10px;
    background-color: darkcyan;
    color: #fff;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: rgb(3, 56, 56);
}

ul {
    list-style: none;
    padding: 0;
}

li {
    margin-bottom: 10px;
    padding: 10px;
    background-color: #f0f0f0;
    border-radius: 5px;
}
